.hero-image {
	padding-top: 16px;
	margin-bottom: 30px;
}

.contact-us-directions {
	margin-top: 78px;
}

.hr-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}

.title-span {
	color: black;
	font-weight: bold;
}

.description-row {
	margin-bottom: 20px;
}
