.staff-items {
h4 {margin-bottom: 0px;margin-top: 10px;}
h5 {margin-top: 0px;}
p {
	color: #666666;
	margin-bottom: 5px;
}
.staff-container {
	margin-bottom: 20px;
}

.double-staff {
	line-height: 25px;
}
.double-title {
	margin-top: 3px;
}
}


.profile-links {
	display: block;
}