//---------- Top-nav
.abtn {
	color: white;
	background-color: #CFB74E;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	&:hover { background: darken(#7D7D7D, 5%)}
	a {
		text-align: center;
		text-transform: uppercase;
	}
}

.section {
	margin-bottom: 50px;
}
.small-section {
	margin-bottom: 30px;
}
.nav-items {
	height:30px;
}


header {
	.logo {
		padding-top: 70px;
		background: url('/assets/images/logo.png') no-repeat center center;
    height: 28px;
    width: 208px;
		a {
			color: #333;
		}
	}
	height: 60px;
	.top-nav {
		@include font-stack-avenir;
		text-transform: uppercase;
		list-style: none;
		float: right;
		padding-top: 10px;
		li {
			float: left;
			display: inline;
		}
		a {
			color: #000000;
			display: inline-block;
			padding: 17px 10px 10px 10px;
		}
	}
}

ul.sub-nav1 {
	@include font-stack-avenir;
	text-transform: uppercase;
	font-size: 13px;
	color: white;
	line-height: 1px !important;
	position: absolute;
	top: -11px;
	right: 370px;
}
.nav-drop {
	position: relative;
	background-color: gray;
	width: 100%;
	margin-bottom: 20px;
	.drop-container {
		.sub-nav1 {
			// float: right;
			// line-height: 1px !important;
			margin-bottom: 14px;
			li {
				float: left;
				display: inline;
				a {
					margin-right: 10px;
					margin-left: 10px;
					color: white;
					display: inline-block;
					padding: 5px;
				}
			}
		}
	}
}
	.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	position: absolute;
	top: 50px;
	right: 334px;
	}
	.white-arrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position: absolute;
	top: 3px;
	right: 574px;
	}
// End Top Nav
.hero {
	height: 100%;
	width: 100%; 
	margin: auto;
	.hero-pic {
		background-color: gray;
		border-bottom: 1px solid gray;
		background-position: center center;
		background-size: cover;
		background-image: url('/assets/images/wash.jpg');
		height: 100%;
		width: 100%;
	}
}

.orbit-container {
	background:  rgba(0, 0, 0, 0) !important;
}
.orbit-slide-number {
	display: none !important;
}
.orbit-timer {
	display: none !important;
}
.orbit-prev {display: none !important;}
.orbit-next {display: none !important;}
.orbit-caption {display: none !important;}
.orbit-bullets {
	display: table;
	top: -40px !important;
	li {
		text-align: center;
		margin: 5px;

	}
}
a {
	color: #d2ba39;
}

.bottom-row {
	margin-bottom: 50px !important;
}

.no-title-margin {
	padding-top: 46px;
}

// ------------------------ Featured 

.featured {
	margin-bottom: 60px;
}

.top-bar {
	z-index: 10000;
}